.main-sidebar-grid {
  display: grid;
  grid-template-columns: 2.3fr 1fr;
  gap: 30px
}

@media (max-width:991px) {
  .main-sidebar-grid {
    grid-template-columns: 1fr
  }
}

.infografis-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 12px
}