# Folder untuk referensi struktur, fitur, dan integrasi sistem
mysisi/

# Backend tools and secrets
backend-tools/keys/
backend-tools/data/
backend-tools/node_modules/
node_modules/

# file lain
package-lock.json
package.json