<footer class="app-footer" aria-label="Informasi Footer">
  <div class="wrapper footer-container">
    <div class="footer-grid">
      <div class="footer-col footer-col-about" aria-labelledby="footer-col1-heading">
        <div class="footer-about-header"><a href="/index.html" class="footer-logo" aria-label="Kembali ke beranda">
            <div class="logo-img"><img src="/assets/img/logo/p1.png" alt="Logo MTs Al-Ittihad" loading="lazy"></div>
          </a>
          <h3 class="footer-about-title" id="footer-col1-heading">Tentang MTs Al-Ittihad</h3>
        </div>
        <p class="footer-deskripsi">Mencetak generasi yang unggul dalam Ilmu Pengetahuan dan Teknologi (IPTEK), serta
          kokoh dalam Keimanan dan Ketakwaan (IMTAK).</p>
        <div class="footer-sosmed" aria-label="Tautan Media Sosial" id="footer-sosmed-container"><a href="#"
            class="sosmed-link" aria-label="Facebook"><i class="ph-fill ph-facebook-logo"></i></a><a href="#"
            class="sosmed-link" aria-label="Instagram"><i class="ph-fill ph-instagram-logo"></i></a><a href="#"
            class="sosmed-link" aria-label="YouTube"><i class="ph-fill ph-youtube-logo"></i></a></div>
      </div>
      <div class="footer-col" aria-labelledby="footer-col2-heading">
        <h3 class="footer-judul" id="footer-col2-heading">Kontak Kami</h3>
        <ul class="footer-kontak" id="footer-kontak-container">
          <li><i class="ph-fill ph-map-pin"></i><span>Jl. Raya Poncokusumo No. 09 Poncokusumo, Kabupaten Malang, Jawa
              Timur</span></li>
          <li><i class="ph-fill ph-phone"></i><span>(0341) 787878</span></li>
          <li><i class="ph-fill ph-envelope"></i><span>mtsalittihad@gmail.com</span></li>
        </ul>
      </div>
      <div class="footer-col" aria-labelledby="footer-col3-heading">
        <h3 class="footer-judul" id="footer-col3-heading">Tautan Cepat</h3>
        <ul class="footer-link">
          <li><a href="/profil/matsahad.html">Profil Madrasah</a></li>
          <li><a href="/bidang/kurikulum.html">Program Kurikulum</a></li>
          <li><a href="/informasi/pengumuman.html">Pengumuman</a></li>
          <li><a href="/galeri/foto.html">Galeri Kegiatan</a></li>
          <li><a href="https://emis.kemenag.go.id/login" target="_blank">EMIS 4.0</a></li>
        </ul>
      </div>
      <div class="footer-col artikel-carousel-col" aria-labelledby="footer-col4-heading">
        <h3 class="footer-judul" id="footer-col4-heading">Berita Terbaru</h3>
        <ul class="footer-link footer-news">
          <li><a href="#"><span class="footer-news-title">Murid MTs Al Ittihad Borong 10 Medali</span><span
                class="footer-news-date">10 Sep 2026</span></a></li>
          <li><a href="#"><span class="footer-news-title">Siswi Kelas 9G Raih Emas Nasional</span><span
                class="footer-news-date">08 Sep 2026</span></a></li>
          <li><a href="#"><span class="footer-news-title">Borong 7 Medali di Bupati Cup</span><span
                class="footer-news-date">08 Sep 2026</span></a></li>
        </ul>
      </div>
    </div>
</footer><button class="back-to-top" id="backToTop" aria-label="Kembali ke atas"><i class="ph-bold ph-caret-up"></i></button><a href="https://wa.me/6281234567890" class="btn-whatsapp-float" target="_blank" aria-label="Hubungi kami di WhatsApp"><i class="ph-fill ph-whatsapp-logo"></i></a>
