<header class="main-header">
  <div class="header-top-bar">
    <div class="wrapper header-top-wrapper">
      <div class="mobile-menu-toggle" id="mobile-toggle"><i class="ph ph-list"></i></div>
      <div class="brand-logo-container"><a href="/index.html" class="logo-link"><img src="/assets/img/logo/p1.png"
            alt="Logo" class="logo" fetchpriority="high"></a></div>
      <div class="header-title-container">
        <div class="site-title"><span class="subtitle">SITUS RESMI</span>
          <h1 class="title">MTS AL-ITTIHAD PONCOKUSUMO</h1>
        </div>
        <div class="header-datetime d-desktop-only"><i class="ph-fill ph-calendar-blank"></i><span
            id="current-datetime" class="current-datetime-display"></span><button id="darkModeToggle" class="dark-mode-toggle"
            aria-label="Toggle Dark Mode"><i
              class="ph-bold ph-moon"></i></button></div>
      </div>
    </div>
  </div>
  <div class="wrapper nav-outer-wrapper">
    <div class="nav-container" id="nav-container">
      <div class="nav-wrapper">
        <nav class="main-nav">
          <ul class="nav-list">
            <li><a href="/index.html">BERANDA</a></li>
            <li class="has-dropdown"><a href="javascript:void(0)">PROFIL <i class="ph-bold ph-caret-down"></i></a>
              <ul class="dropdown">
                <li><a href="/profil/matsahad.html"><i class="ph-bold ph-article"></i> MATSAHAD</a></li>
                <li><a href="/profil/visi-misi.html"><i class="ph-bold ph-article"></i> VISI DAN MISI</a></li>
                <li><a href="/profil/struktur-organisasi.html"><i class="ph-bold ph-users"></i> STRUKTUR ORGANISASI</a>
                </li>
                <li><a href="/profil/data-pegawai.html"><i class="ph-bold ph-user"></i> DATA PEGAWAI</a></li>
                <li><a href="/profil/tugas-pokok-fungsi.html"><i class="ph-bold ph-stack"></i> TUGAS POKOK DAN
                    FUNGSI</a></li>
              </ul>
            </li>
            <li class="has-dropdown"><a href="javascript:void(0)">BIDANG <i class="ph-bold ph-caret-down"></i></a>
              <ul class="dropdown">
                <li><a href="/bidang/kurikulum.html"><i class="ph-bold ph-user"></i> KURIKULUM</a></li>
                <li><a href="/bidang/kesiswaan.html"><i class="ph-bold ph-user"></i> KESISWAAN</a></li>
                <li><a href="/bidang/sarpras.html"><i class="ph-bold ph-user"></i> SARPRAS</a></li>
                <li><a href="/bidang/humas.html"><i class="ph-bold ph-user"></i> HUMAS</a></li>
              </ul>
            </li>
            <li class="has-dropdown"><a href="javascript:void(0)">APLIKASI <i class="ph-bold ph-caret-down"></i></a>
              <ul class="dropdown">
                <li><a href="https://emis.kemenag.go.id/login" target="_blank"><i
                      class="ph-bold ph-arrow-circle-right"></i> EMIS 4.0</a></li>
                <li><a href="https://simpatika.kemenag.go.id/madrasah" target="_blank"><i
                      class="ph-bold ph-arrow-circle-right"></i> SIMPATIKA</a></li>
                <li><a href="https://rdm.mtsalittihadmlg.sch.id/" target="_blank"><i
                      class="ph-bold ph-arrow-circle-right"></i> RDM MATSAHAD</a></li>
              </ul>
            </li>
            <li class="has-dropdown"><a href="javascript:void(0)">GALERI <i class="ph-bold ph-caret-down"></i></a>
              <ul class="dropdown">
                <li><a href="/galeri/foto.html"><i class="ph-bold ph-image"></i> FOTO</a></li>
                <li><a href="/galeri/video.html"><i class="ph-bold ph-video"></i> VIDEO</a></li>
              </ul>
            </li>
            <li class="has-dropdown"><a href="javascript:void(0)">INFORMASI <i class="ph-bold ph-caret-down"></i></a>
              <ul class="dropdown">
                <li><a href="/informasi/layanan.html"><i class="ph-bold ph-info"></i> LAYANAN</a></li>
                <li><a href="/informasi/pengumuman.html"><i class="ph-bold ph-megaphone"></i> PENGUMUMAN</a></li>
                <li><a href="/informasi/agenda.html"><i class="ph-bold ph-calendar"></i> AGENDA</a></li>
              </ul>
            </li>
            <li><a href="/karya-siswa.html"><i class="ph-bold ph-palette"></i> KARYA SISWA</a></li>
            <li class="mobile-nav-tools d-mobile-only">
              <div class="mobile-nav-tools-container">
                <div class="mobile-clock"><i class="ph-fill ph-calendar-blank"></i><span class="current-datetime-display"></span></div>
                <button class="dark-mode-toggle" aria-label="Toggle Dark Mode"><i class="ph-bold ph-moon"></i></button>
              </div>
            </li>
          </ul>
        </nav>
        <div class="nav-search d-desktop-only"><i class="ph-bold ph-magnifying-glass"></i></div>
      </div>
      <div class="header-border-strip"></div>
    </div>
  </div>
</header>
