<header class="main-header">
  <div class="header-top-bar">
    <div class="wrapper header-top-wrapper">
      <div class="brand-logo-container"><a href="/index.html" class="logo-link"><img src="/assets/img/logo/logo.webp"
            alt="Logo" class="logo" fetchpriority="high"></a></div>
      <div class="header-title-container">
        <div class="site-title"><span class="subtitle">ISLAMIC MODERN SCHOOL</span>
          <h1 class="title">SD MUHAMMADIYAH 1 SEDATI</h1>
        </div>
        <div class="header-datetime d-desktop-only"><i class="ph-fill ph-calendar-blank"></i><span id="current-datetime"
            class="current-datetime-display"></span><button id="clearCacheToggleDesk" class="clear-cache-toggle"
            aria-label="Clear Cache" title="Refresh/Clear Cache"><i class="ph-bold ph-arrows-clockwise"></i></button><button id="darkModeToggle" class="dark-mode-toggle"
            aria-label="Toggle Dark Mode"><i class="ph-bold ph-moon"></i></button></div>
      </div>
      <div class="mobile-menu-toggle" id="mobile-toggle"><i class="ph ph-list"></i></div>
    </div>
  </div>
  <div class="wrapper nav-outer-wrapper">
    <div class="nav-container" id="nav-container">
      <div class="nav-wrapper">
        <nav class="main-nav">
          <ul class="nav-list">
            <li><a href="/index.html">BERANDA</a></li>
            <li class="has-dropdown"><a href="javascript:void(0)">PROFIL <i class="ph-bold ph-caret-down"></i></a>
              <ul class="dropdown">
                <li><a href="/profil/musada.html"><i class="ph-bold ph-article"></i> MUSADA</a></li>
                <li><a href="/profil/struktur-organisasi.html"><i class="ph-bold ph-users"></i> STRUKTUR ORGANISASI</a>
                </li>
                <li><a href="/profil/data-pegawai.html"><i class="ph-bold ph-user"></i> DATA PEGAWAI</a></li>
                <li><a href="/profil/komite-musada.html"><i class="ph-bold ph-handshake"></i> KOMITE MUSADA</a></li>
              </ul>
            </li>
            <li class="has-dropdown"><a href="javascript:void(0)">ZIS MUSADA <i class="ph-bold ph-caret-down"></i></a>
              <ul class="dropdown">
                <li><a href="/bidang/kurikulum.html"><i class="ph-bold ph-user"></i> KURIKULUM</a></li>
                <li><a href="/bidang/kesiswaan.html"><i class="ph-bold ph-user"></i> KESISWAAN</a></li>
                <li><a href="/bidang/sarpras.html"><i class="ph-bold ph-user"></i> SARPRAS</a></li>
                <li><a href="/bidang/humas.html"><i class="ph-bold ph-user"></i> HUMAS</a></li>
                <li><a href="/bidang/tugas-pokok-fungsi.html"><i class="ph-bold ph-stack"></i> TUGAS POKOK DAN FUNGSI</a></li>
              </ul>
            </li>
            <li class="has-dropdown"><a href="javascript:void(0)">APLIKASI <i class="ph-bold ph-caret-down"></i></a>
              <ul class="dropdown">
                <li><a href="#"><i class="ph-bold ph-storefront"></i> MUSADA MART</a></li>
                <li><a href="#"><i class="ph-bold ph-bus"></i> MUSADA SHUTTLE</a></li>
                <li><a href="https://manajemen-perpustakaan.pages.dev/" target="_blank"><i class="ph-bold ph-book-open"></i> MUSADA LIBRARY</a></li>
              </ul>
            </li>
            <li class="has-dropdown"><a href="javascript:void(0)">GALERI <i class="ph-bold ph-caret-down"></i></a>
              <ul class="dropdown">
                <li><a href="/galeri/foto.html"><i class="ph-bold ph-image"></i> FOTO</a></li>
                <li><a href="/galeri/video.html"><i class="ph-bold ph-video"></i> VIDEO</a></li>
                <li><a href="/galeri/e-book.html"><i class="ph-bold ph-book-open"></i> E-BOOK</a></li>
                <li><a href="/karya-siswa/index.html"><i class="ph-bold ph-palette"></i> KARYA SISWA</a></li>
              </ul>
            </li>
            <li class="has-dropdown"><a href="javascript:void(0)">INFORMASI <i class="ph-bold ph-caret-down"></i></a>
              <ul class="dropdown">
                <li><a href="/informasi/layanan.html"><i class="ph-bold ph-info"></i> LAYANAN</a></li>
                <li><a href="/informasi/pengumuman.html"><i class="ph-bold ph-megaphone"></i> PENGUMUMAN</a></li>
                <li><a href="/informasi/agenda.html"><i class="ph-bold ph-calendar"></i> AGENDA</a></li>
              </ul>
            </li>
            <li><a href="/spmb.html"><i class="ph-bold ph-notebook"></i> SPMB</a></li>
            <li class="nav-login-item"><a href="/login/" class="nav-login-button"><i class="ph-bold ph-sign-in"></i> LOGIN</a></li>
            <li class="mobile-animation-logo d-mobile-only">
              <div class="mobile-animation-logo-inner">
<svg class="logo-svg" viewBox="0 0 1000 450"
            xmlns="http://www.w3.org/2000/svg">
            <defs>
                <mask id="trailMask-header">
                    <path class="trail-reveal"
                        d="M 298 138 C 332 115, 380 116, 378 148 C 376 173, 346 173, 346 146 C 346 120, 382 122, 404 148 C 421 168, 442 160, 457 148" />
                </mask>
                <clipPath id="fuselageClip-header">
                    <path
                        d="M 460 140 C 482 120, 526 86, 553 74 C 565 69, 574 78, 564 91 C 545 112, 500 135, 465 146 C 459 148, 456 144, 460 140 Z" />
                </clipPath>
                <clipPath id="leftWingClip-header">
                    <path d="M 502 107 L 473 69 C 470 65, 483 56, 488 60 L 533 88 Z" />
                </clipPath>
                <clipPath id="rightWingClip-header">
                    <path d="M 517 119 L 535 162 C 537 167, 550 161, 549 154 L 543 102 Z" />
                </clipPath>
            </defs>
            <image href="/assets/img/logo/logo.webp" x="48" y="146" width="176" height="186"
                preserveAspectRatio="xMidYMid meet" class="main-logo" />
            <g transform="translate(42, 14) scale(0.94)">
                <path
                    d="M 298 138 C 332 115, 380 116, 378 148 C 376 173, 346 173, 346 146 C 346 120, 382 122, 404 148 C 421 168, 442 160, 457 148"
                    fill="none" stroke="#000000" stroke-width="3.8" stroke-dasharray="7.5 6.8" stroke-linecap="round"
                    mask="url(#trailMask-header)" />
                <g class="airplane">
                    <path d="M 495.2 67.9 L 502.5 60.6 C 504.5 58.6, 512.1 63.4, 510.1 65.4 L 502.8 72.7 Z"
                        fill="#4a5c6e" stroke="#000000" stroke-width="3.4" stroke-linejoin="round" />
                    <path d="M 509.2 76.7 L 516.5 69.4 C 518.5 67.4, 526.1 72.2, 524.1 74.2 L 516.8 81.5 Z"
                        fill="#4a5c6e" stroke="#000000" stroke-width="3.4" stroke-linejoin="round" />
                    <path d="M 541.5 116.2 L 551.2 112.2 C 553.8 111.1, 554.8 120.1, 552.2 121.2 L 542.5 125.2 Z"
                        fill="#4a5c6e" stroke="#000000" stroke-width="3.4" stroke-linejoin="round" />
                    <path d="M 543.2 131.2 L 552.9 127.2 C 555.5 126.1, 556.5 135.1, 553.9 136.2 L 544.2 140.2 Z"
                        fill="#4a5c6e" stroke="#000000" stroke-width="3.4" stroke-linejoin="round" />
                    <g clip-path="url(#leftWingClip-header)">
                        <path d="M 502 107 L 473 69 C 470 65, 483 56, 488 60 L 533 88 Z" fill="#ddebf8" />
                        <path d="M 502 107 L 473 69 L 480 61 L 516 98 Z" fill="#a2bcd6" />
                    </g>
                    <path d="M 502 107 L 473 69 C 470 65, 483 56, 488 60 L 533 88 Z" fill="none" stroke="#000000"
                        stroke-width="3.6" stroke-linejoin="round" />
                    <g clip-path="url(#rightWingClip-header)">
                        <path d="M 517 119 L 535 162 C 537 167, 550 161, 549 154 L 543 102 Z" fill="#ddebf8" />
                        <path d="M 517 119 L 535 162 L 544 160 L 529 111 Z" fill="#a2bcd6" />
                    </g>
                    <path d="M 517 119 L 535 162 C 537 167, 550 161, 549 154 L 543 102 Z" fill="none" stroke="#000000"
                        stroke-width="3.6" stroke-linejoin="round" />
                    <path d="M 467 135 L 450 118 C 448 115, 457 109, 462 112 L 484 124 Z" fill="#d0e0f0"
                        stroke="#000000" stroke-width="3.5" stroke-linejoin="round" />
                    <path d="M 471 139 L 478 160 C 480 164, 489 160, 489 154 L 486 130 Z" fill="#a2bcd6"
                        stroke="#000000" stroke-width="3.5" stroke-linejoin="round" />
                    <g clip-path="url(#fuselageClip-header)">
                        <path d="M 455 150 L 455 65 L 578 65 L 578 150 Z" fill="#54a6f7" />
                        <path d="M 462 144 C 500 130, 543 106, 563 85 L 570 92 C 548 115, 502 138, 465 148 Z"
                            fill="#368ce2" />
                    </g>
                    <path
                        d="M 460 140 C 482 120, 526 86, 553 74 C 565 69, 574 78, 564 91 C 545 112, 500 135, 465 146 C 459 148, 456 144, 460 140 Z"
                        fill="none" stroke="#000000" stroke-width="3.6" stroke-linejoin="round" />
                    <path d="M 547 80 C 554 82, 558 87, 555 93" fill="none" stroke="#000000" stroke-width="3.4"
                        stroke-linecap="round" />
                </g>
                <path class="letter-shape char-sd-s" fill="#ed1c24" d="M 274,160
             C 295,160 307,168 304,180
             C 302,189 291,192 278,195
             C 265,198 260,206 264,215
             C 270,226 293,235 302,252
             C 311,267 309,290 295,304
             C 281,316 254,318 231,313
             C 216,310 211,299 214,289
             C 217,279 228,280 241,283
             C 255,286 268,283 270,273
             C 272,263 257,257 242,248
             C 225,237 218,220 221,199
             C 225,174 247,160 274,160 Z" />
                <path class="letter-shape char-sd-d" fill="#1072ba" d="M 314,184
             C 315,171 321,167 336,166
             C 368,165 398,173 412,197
             C 424,218 422,250 410,275
             C 397,302 369,316 338,316
             C 319,316 312,309 312,291
             C 312,259 313,217 314,184 Z
             M 345,210
             C 344,230 344,254 345,274
             C 345,280 350,282 357,280
             C 374,275 384,260 384,242
             C 384,223 373,208 356,204
             C 349,203 345,205 345,210 Z" />
                <path class="letter-shape char-m" fill="#75c043" d="M 439,253
             C 440,226 443,197 447,184
             C 451,172 466,171 474,183
             C 480,191 485,200 489,205
             C 491,208 493,208 495,205
             C 500,198 506,188 512,180
             C 520,170 533,172 535,186
             C 537,204 538,233 537,255
             C 536,271 515,272 514,256
             C 513,245 513,232 512,222
             C 512,218 509,218 507,221
             C 502,229 497,237 491,239
             C 486,241 481,233 475,224
             C 473,221 470,221 469,225
             C 467,235 465,247 463,257
             C 460,271 438,269 439,253 Z" />
                <path class="letter-shape char-u" fill="#fff101" d="M 544,191
             C 544,176 570,176 571,191
             C 572,209 572,227 575,239
             C 577,248 588,248 589,238
             C 590,226 590,209 590,193
             C 590,178 611,178 611,193
             C 612,215 612,238 608,253
             C 604,268 589,273 575,272
             C 557,271 547,260 545,243
             C 544,227 544,207 544,191 Z" />
                <path class="letter-shape char-s" fill="#f7931d" d="M 660,159
             C 675,159 684,165 682,174
             C 680,181 671,182 661,185
             C 650,188 646,195 651,202
             C 657,210 676,217 682,232
             C 687,246 681,263 665,269
             C 651,274 631,274 619,268
             C 611,264 610,253 617,249
             C 623,246 632,250 642,251
             C 652,252 658,246 655,240
             C 651,233 633,227 624,214
             C 616,202 618,184 629,172
             C 637,163 648,159 660,159 Z" />
                <path class="letter-shape char-a1" fill="#ed1c24" d="M 709,180
             C 715,168 733,168 739,180
             C 750,202 760,233 766,256
             C 769,268 756,274 746,268
             C 742,265 740,257 738,252
             C 735,249 724,249 721,252
             C 718,257 716,265 710,268
             C 699,274 682,268 685,256
             C 691,233 700,202 709,180 Z
             M 729,203
             C 727,203 722,217 721,224
             C 720,228 723,229 729,229
             C 735,229 738,228 737,224
             C 736,217 731,203 729,203 Z" />
                <path class="letter-shape char-d" fill="#006837" d="M 771,182
             C 772,170 777,166 790,165
             C 816,163 840,172 848,195
             C 854,214 851,240 840,256
             C 829,270 810,273 786,273
             C 773,273 769,267 769,254
             C 769,231 770,204 771,182 Z
             M 795,198
             C 794,213 794,230 795,244
             C 795,248 799,250 805,248
             C 819,245 826,234 826,220
             C 826,206 818,196 804,193
             C 798,192 795,194 795,198 Z" />
                <path class="letter-shape char-a2" fill="#6b4423" d="M 878,180
             C 884,168 902,168 908,180
             C 919,202 929,233 935,256
             C 938,268 925,274 915,268
             C 911,265 909,257 907,252
             C 904,249 893,249 890,252
             C 887,257 885,265 879,268
             C 868,274 851,268 854,256
             C 860,233 869,202 878,180 Z
             M 898,203
             C 896,203 891,217 890,224
             C 889,228 892,229 898,229
             C 904,229 907,228 906,224
             C 905,217 900,203 898,203 Z" /><text x="437" y="320" class="sub-text" textLength="501"
                    lengthAdjust="spacingAndGlyphs">MUHAMMADIYAH 1 SEDATI</text>
            </g><text x="500" y="392" text-anchor="middle" class="tagline-text">• SAINTIS • HAFIDZ • BERPRESTASI</text>
        </svg>
</div>
            </li>
            <li class="mobile-nav-tools d-mobile-only">
              <div class="mobile-nav-tools-container">
                <div class="mobile-clock"><i class="ph-fill ph-calendar-blank"></i><span
                    class="current-datetime-display"></span></div>
                <div style="display: flex; gap: 15px;">
                  <button class="clear-cache-toggle" aria-label="Clear Cache" title="Refresh/Clear Cache"><i class="ph-bold ph-arrows-clockwise"></i></button>
                  <button class="dark-mode-toggle" aria-label="Toggle Dark Mode"><i class="ph-bold ph-moon"></i></button>
                </div>
              </div>
            </li>
          </ul>
        </nav>
        <div class="nav-search d-desktop-only" id="nav-search-btn"><i class="ph-bold ph-magnifying-glass"></i></div>
      </div>
      <div class="header-border-strip"></div>
    </div>
  </div>
  <div class="floating-search-btn" id="mobile-search-btn"><i class="ph-bold ph-magnifying-glass"></i></div>
  <div class="modal-overlay" id="searchModal">
    <div class="search-modal-container">
      <button class="modal-close" id="closeSearchModalBtn"><i class="ph-bold ph-x"></i></button>
      <form action="#" method="GET" class="search-form-modal">
        <input type="text" name="q" placeholder="Masukan Kata Kunci" class="search-input-modal" required>
        <button type="submit" class="search-btn-modal"><i class="ph-bold ph-magnifying-glass"></i></button>
      </form>
    </div>
  </div>
</header>