<section class="hero-section">
  <div class="hero-slider" id="heroSlider">
    <div class="slider-track" id="sliderTrack"><img
        src="/assets/img/banner/banner1.webp" alt="Hero 1"
        class="hero-image slide-active" fetchpriority="high"><img
        src="/assets/img/banner/banner2.webp" alt="Hero 2"
        class="hero-image" loading="lazy"><img
        src="/assets/img/banner/banner3.webp" alt="Hero 3"
        class="hero-image" loading="lazy"><img
        src="/assets/img/banner/banner4.webp" alt="Hero 4"
        class="hero-image" loading="lazy"><img
        src="/assets/img/banner/banner5.webp" alt="Hero 5"
        class="hero-image" loading="lazy"></div><button class="slider-btn prev-btn d-desktop-only" id="prevSlide"><i
        class="ph-bold ph-caret-left"></i></button><button class="slider-btn next-btn d-desktop-only" id="nextSlide"><i
        class="ph-bold ph-caret-right"></i></button>
  </div>
  <div class="hero-ticker">
    <div class="ticker-label"><i class="ph-fill ph-megaphone"></i> Pengumuman</div>
    <div class="ticker-content">
      <marquee behavior="scroll" direction="left" scrollamount="5" onmouseover="this.stop();"
        onmouseout="this.start();"><span class="ticker-date">02 September 2026</span> Penerimaan Murid Baru Madrasah
        (PMBM) Tahun Ajaran 2027/2028 telah DIBUKA, Segera daftarkan diri Anda, Kuota TERBATAS!
        &nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp; <span class="ticker-date">08 Desember 2025</span> Layanan
        Kantor : Senin - Sabtu (Jam Kerja 07.00 WIB - 13.00 WIB) </marquee>
    </div>
  </div>
</section>
