.breadcrumb-wrapper {
  background: var(--color-bg-light);
  padding: 15px 0;
  margin-bottom: 30px;
  border-bottom: 1px solid var(--color-border)
}

.breadcrumb-wrapper .breadcrumb {
  display: flex;
  gap: 8px;
  font-size: .9rem;
  color: var(--color-neutral-medium)
}

.breadcrumb-wrapper .breadcrumb a {
  color: var(--color-primary-green);
  text-decoration: none
}

.breadcrumb-wrapper .breadcrumb span.current-page {
  color: var(--color-neutral-dark);
  font-weight: 600
}